<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <webuploadercss />
    <umeditorcss />
    <link rel="stylesheet" href="__PUBLIC__/admin/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/global.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/admin/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/table.css" />
    <link rel="stylesheet" href="__PUBLIC__/skin/default/layer.css" />
    <script src="__PUBLIC__/admin/js/jquery-1.7.2.min.js" type="text/javascript"></script>
</head>
<body>
