<extend name="layout:base-cart" />
<block name="title"><title>Lee商城--首页</title></block>
<block name="top-style">
    <script src="__PUBLIC__/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <link href="__PUBLIC__/css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="__PUBLIC__/css/global.css">
    <link rel="stylesheet" href="__PUBLIC__/css/user.css">
    <script src="__PUBLIC__/js/slides.min.jquery.js"></script>

    <script>
        var public='__PUBLIC__';
        $(function(){
            $('#products').slides({
                preload: true,
                preloadImage: public+'img/loading.gif',
                effect: 'slide, fade',
                crossfade: true,
                slideSpeed: 350,
                fadeSpeed: 500,
                generateNextPrev: true,
                generatePagination: false
            });
        });
    </script>
</block>
<block name="main">
    <section class="main">
        <p class="layui-elem-quote">我的购物车</p>

        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="50">
                    <col width="400">
                    <col width="100">
                    <col width="200">
                    <col width="100">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" name="" id="btn" lay-skin="primary" lay-filter="allChoose" title="全选" style="display: block"></th>
                    <th>商品信息</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>总价</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td><input type="checkbox" name="good" lay-skin="primary" value="{$vo.id}" style="display: block"></td>
                            <td><div class="good-info">
                                <div class="left"><img src="{$vo.savepath}"/> </div>
                                <div class="right"><span>{$vo.goodname}</span></div>
                            </div></td>
                            <td>${$vo.single}</td>
                            <td>{$vo.goodnum}</td>
                            <td>${$vo.price}</td>
                            <td>
                                <div class="layui-btn-group">
                                    <button class="layui-btn " aa="{$vo.id}">编辑</button>
                                    <button class="layui-btn" aa="{$vo.id}">删除</button>
                                </div>
                            </td>
                        </tr>
                    </volist>
                </tbody>
            </table>
            <p class="sub-cart">  <button class="layui-btn">去结算</button><button class="layui-btn layui-btn-danger">批量删除</button></p>
            <div class="clear-float"></div>
        </div>

    </section>
</block>

<block name="footer-script">
    <div class="out-body" style="display: none;">
            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux" id="goodname"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">单价</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux" id="single"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-block">
                    <select  name="quiz1" class="cart-num" id="ps-num">
                        <option value=""></option>
                        <option value="1" selected="">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" value="" id="ps-good-id"/>
                <label class="layui-form-label" style="margin-left: 100px;"> <button class="layui-btn layui-btn-normal">提交修改</button></label>
                <label class="layui-form-label">  <button class="layui-btn layui-btn-warm">取消</button></label>

            </div>
    </div>
    <script src="__PUBLIC__/layer.js"></script>
    <script type="text/javascript">
        if($('#btn').prop('checked')==false){
            var i=1;
        }else{
            var i=2;
        }
        $('#btn').click(function () {

            if(i%2==1){
                $("input:checkbox").prop('checked',true);
            }else{
                $("input:checkbox").prop('checked',false);
            }
            i++;

        });
        $('button').click(function () {
            switch($(this).html()){
                case '编辑':
                    var id= $(this).attr('aa');
                    $.ajax({
                        url:"__MODULE__/Cart/GetOneCart",
                        type:'post',
                        data:{'id':id},
                        async:true,
                        success:function (data) {
                            if(data==false){
                                layer.msg('编辑失败');
                            }else{
                                $('#goodname').html(data.goodname);
                                $('#single').html('$'+data.price/data.goodnum);
                                $('#ps-num').val(data.goodnum);
                                $('#ps-good-id').val(data.id);
                            }
                        }
                    });
                    layer.open({
                        type: 1,
                        area: ['600px', '360px'],
                        shadeClose: true, //点击遮罩关闭
                        content:$('.out-body')
                    });
                    break;
                case '提交修改':
                    var id=$('#ps-good-id').val();
                    $.ajax({
                        url:"__MODULE__/Cart/updateCart",
                        type:'post',
                        data:{'id':id,'goodnum':$('#ps-num').val(),'single':$('#single').html()},
                        async:true,
                        success:function (data) {
                            if(data==true){
                                layer.msg('更新成功');
                                location.reload();
                            }else{
                                layer.msg('更新失败');
                            }
                        }
                    });
                    break;
                case '删除':
                    var id=$(this).attr('aa');
                    $.ajax({
                        url:"__MODULE__/Cart/deleteCart",
                        type:'post',
                        data:{'id':id},
                        async:true,
                        success:function (data) {
                            if(data==true){
                                layer.msg('删除成功');
                                location.reload();
                            }else {
                                layer.msg("删除失败");
                            }
                        }
                    });
                    break;
                case '批量删除':
                    layer.confirm('你确定清空购物车中选中的商品吗', {
                        btn: ['确定','放弃'] //按钮
                    }, function(){
                        var obj=document.getElementsByName("good");
                        var check_val=[];
                        for (k in obj){
                            if(obj[k].checked){
                                check_val.push(obj[k].value);
                            }
                        }
                        $.ajax({
                            url:"__MODULE__/Cart/deleteBatchCart",
                            type:'post',
                            data:{'id':check_val},
                            async:true,
                            success:function (data) {
                                if(data==true){
                                    layer.msg('删除成功');
                                    location.reload();
                                }else {
                                    layer.msg("删除失败");
                                }
                            }
                        });
                    }, function(){

                    });
                    break;
                case '去结算':
                    var obj=document.getElementsByName("good");
                    var check_val=[];
                    for (k in obj){
                        if(obj[k].checked){
                            check_val.push(obj[k].value);
                        }
                    }
                    $.ajax({
                        url:"__MODULE__/Order/add_order",
                        type:"post",
                        data:{'id':check_val},
                        async:true,
                        success:function (data) {
                            if(data!=false){
                                location.href="__MODULE__/Order/order/id/"+data.id;
                            }
                        }
                    })
                    break;

            }
        });
    </script>
</block>