<!DOCTYPE HTML>
<head>
    <block name="title"><title>网站标题</title></block>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/startstop-slider.js"></script>
    <link href="__PUBLIC__/font-frist/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    <block name="top-style">
        网站css文件引入
    </block>
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="headertop_desc">
            <div class="logo">
                <a href="index.html"><img src="__PUBLIC__/images/logo.png" alt="" /></a>
            </div>
            <div class="account_desc">
                <if condition="empty($_SESSION['user'])">
                    <ul>
                        <li><a href="{:U('Public/login')}">登录</a></li>
                        <li><a href="{:U('Public/login')}">注册</a></li>
                    </ul>
                    <else />
                    <ul>
                        <li>{:W('Public/getUser')}</li>
                        <li><a href="{:U('Cart/cartDis')}">我的购物车</a></li>
                        <li><a href="{:U('Personal/index')}">个人中心</a></li>
                        <li><a href="{:U('Public/logout')}">退出</a></li>
                    </ul>
                </if>

            </div>
            <div class="clear"></div>
        </div>
        <div class="header_top">

            <script type="text/javascript">
                function DropDown(el) {
                    this.dd = el;
                    this.initEvents();
                }
                DropDown.prototype = {
                    initEvents : function() {
                        var obj = this;

                        obj.dd.on('click', function(event){
                            $(this).toggleClass('active');
                            event.stopPropagation();
                        });
                    }
                }

                $(function() {

                    var dd = new DropDown( $('#dd') );

                    $(document).click(function() {
                        // all dropdowns
                        $('.wrapper-dropdown-2').removeClass('active');
                    });

                });

            </script>
            <div class="clear"></div>
        </div>
        <div class="header_bottom">
            <div class="menu">
                <ul>
                    <li class="active"><a href="{:U('Index/index')}">主页</a></li>
                    <li><a href="{:U('Collocate/collocateList')}">个人试衣间</a></li>
                    <li><a href="{:U('Collocate/ranking')}">搭配排行榜</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
            <div class="search_box">
                <form>
                    <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <block name="main">
        网站主体内容
    </block>

</div>
<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>购物指南</h4>
                <ul>
                    <li><a href="about.html">购物流程</a></li>
                    <li><a href="contact.html">会员介绍</a></li>
                    <li><a href="#">生活旅行</a></li>
                    <li><a href="delivery.html">常见问题</a></li>
                    <li><a href="contact.html">联系客服</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>配送方式</h4>
                <ul>
                    <li><a href="about.html">上门自提</a></li>
                    <li><a href="contact.html">211限时达</a></li>
                    <li><a href="#">配送服务查询</a></li>
                    <li><a href="contact.html">配送费收取标准</a></li>
                    <li><a href="#">海外配送</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>支付方式</h4>
                <ul>
                    <li><a href="contact.html">货到付款</a></li>
                    <li><a href="index.html">在线支付</a></li>
                    <li><a href="#">分期付款</a></li>
                    <li><a href="#">邮局汇款</a></li>
                    <li><a href="contact.html">公司转账</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>电话</h4>
                <ul>
                    <li><span>+91-123-456789</span></li>
                    <li><span>+00-123-000000</span></li>
                </ul>
                <div class="social-icons">
                    <h4>联系方式</h4>
                    <ul>
                        <li><a href="#" target="_blank"><img src="__PUBLIC__/images/facebook.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="__PUBLIC__/images/twitter.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="__PUBLIC__/images/skype.png" alt="" /> </a></li>
                        <li><a href="#" target="_blank"> <img src="__PUBLIC__/images/dribbble.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"> <img src="__PUBLIC__/images/linkedin.png" alt="" /></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_right">
        <p>2017  &copy;  PHPCoder 德州学院</p>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<block name="footer-script">
    js 引入
</block>
<a href="#" id="toTop"><span id="toTopHover"> </span></a>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>