<extend name="layout:base" />
<block name="title"><title>Lee商城--首页</title></block>
<block name="top-style">
    <script src="__PUBLIC__/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <link href="__PUBLIC__/css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="__PUBLIC__/css/global.css">
    <script src="__PUBLIC__/js/slides.min.jquery.js"></script>
    <script>
        var public='__PUBLIC__';
        $(function(){
            $('#products').slides({
                preload: true,
                preloadImage: public+'img/loading.gif',
                effect: 'slide, fade',
                crossfade: true,
                slideSpeed: 350,
                fadeSpeed: 500,
                generateNextPrev: true,
                generatePagination: false
            });
        });
    </script>
</block>
<block name="main">

    <div class="main">
        <div class="content">
            <div class="content_top">
                <div class="back-links">
                    <p><a href="{:U('Index/index')}">主页</a> >>>> <a href="#">{$good.goodname}</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                <div class="cont-desc span_1_of_2">
                    <div class="product-details">
                        <div class="grid images_3_of_2">
                            <div id="container">
                                <div id="products_example">
                                    <div id="products">
                                        <div class="slides_container">
                                            <volist name="goodimg" id="vo">
                                                <a href="#" target="_blank"><img src="{$vo.savepath}" alt=" " /></a>
                                            </volist>
                                        </div>
                                        <ul class="pagination">
                                            <volist name="goodimg" id="vo">
                                                <li><a href="#"><img src="{$vo.savepath}" alt=" " /></a></li>
                                            </volist>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="desc span_3_of_2">
                            <h2>{$good.goodname} </h2>
                            <p>{$good.gooddesc}</p>
                            <div class="price">
                                <p>价格: <span>${$good.goodprice}</span></p>
                            </div>
                            <div class="available">
                                <p>可选项:</p>
                                <ul>
                                    <li>商品规格<select name="size" id="size">
                                        <volist name="size" id="vo">
                                            <option value="{$vo.size}">{$vo.size}</option>
                                        </volist>

                                    </select></li>
                                    <li>数量:<select id="num">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select></li>
                                </ul>
                            </div>
                            <div class="share-desc">
                                <div class="button"><span><a href="javascript:;" aa="{$good.id}">加入购物车</a></span></div>
                                <div class="clear"></div>
                            </div>
                            <div class="wish-list">
                                <ul>
                                    <li class="wish"><a href="#">加入我的衣架</a></li>
                                    <li class="wish"><a href="#">衣服尺码计算</a></li>
                                    <li class="compare"><a href="#">加入我的搭配</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="product_desc">
                        <div id="horizontalTab">
                            <ul class="resp-tabs-list">
                                <li>商品描述</li>
                                <li>商品标签</li>
                                <li>商品评价</li>
                                <div class="clear"></div>
                            </ul>
                            <div class="resp-tabs-container">
                                <div class="product-desc">
                                    {$good.content|htmlspecialchars_decode}
                                </div>

                                <div class="product-tags">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    <h4>Add Your Tags:</h4>
                                    <div class="input-box">
                                        <input type="text" value="">
                                    </div>
                                    <div class="button"><span><a href="#">Add Tags</a></span></div>
                                </div>

                                <div class="review">
                                    <h4>Lorem ipsum Review by <a href="#">Finibus Bonorum</a></h4>
                                    <ul>
                                        <li>Price :<a href="#"><img src="__PUBLIC__/images/price-rating.png" alt="" /></a></li>
                                        <li>Value :<a href="#"><img src="__PUBLIC__/images/value-rating.png" alt="" /></a></li>
                                        <li>Quality :<a href="#"><img src="__PUBLIC__/images/quality-rating.png" alt="" /></a></li>
                                    </ul>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    <div class="your-review">
                                        <h3>How Do You Rate This Product?</h3>
                                        <p>Write Your Own Review?</p>
                                        <form>
                                            <div>
                                                <span><label>Nickname<span class="red">*</span></label></span>
                                                <span><input type="text" value=""></span>
                                            </div>
                                            <div><span><label>Summary of Your Review<span class="red">*</span></label></span>
                                                <span><input type="text" value=""></span>
                                            </div>
                                            <div>
                                                <span><label>Review<span class="red">*</span></label></span>
                                                <span><textarea> </textarea></span>
                                            </div>
                                            <div>
                                                <span><input type="submit" value="SUBMIT REVIEW"></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#horizontalTab').easyResponsiveTabs({
                                type: 'default', //Types: default, vertical, accordion
                                width: 'auto', //auto or any width like 600px
                                fit: true   // 100% fit in a container
                            });
                        });
                    </script>
                </div>
               <!-- <div class="rightsidebar span_3_of_1">
                    <h2>CATEGORIES</h2>
                    <ul>
                        <li><a href="#">Mobile Phones</a></li>
                        <li><a href="#">Desktop</a></li>
                        <li><a href="#">Laptop</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Software</a></li>
                        <li><a href="#">Sports &amp; Fitness</a></li>
                        <li><a href="#">Footwear</a></li>
                        <li><a href="#">Jewellery</a></li>
                        <li><a href="#">Clothing</a></li>
                        <li><a href="#">Home Decor &amp; Kitchen</a></li>
                        <li><a href="#">Beauty &amp; Healthcare</a></li>
                        <li><a href="#">Toys, Kids &amp; Babies</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</block>
<block name="footer-script">
    <script src="__PUBLIC__/layer.js"></script>
    <script type="text/javascript">
        $('a').click(function () {
            switch ($(this).html()){
                case '衣服尺码计算':
                    layer.open({
                        type: 2,
                        area: ['800px', '600px'],
                        shadeClose: true, //点击遮罩关闭
                        content:'__MODULE__/Good/size'
                    });
                    break;
                case '加入购物车':
                    id=$(this).attr('aa');
                    num=$('#num').val();
                    size=$('#size').val();
                    $.ajax({
                        url:"__MODULE__/Cart/addCart",
                        type:'post',
                        data:{'id':id,'num':num,'size':size},
                        async:true,
                        success:function (data) {
                            if(data==true){
                                layer.closeAll();
                                layer.msg('添加成功');
                                location.reload();
                            }else if(data==false){
                                layer.msg('请先登录!');
                                location.href="__MODULE__/Public/login";
                            }else if(data=='falseAdd'){
                                layer.msg('添加失败');
                            }
                        }
                    });

            }
        });
    </script>
</block>