<include file="Common:_header"/>
<div class="admin-main">
    <fieldset class="layui-elem-field">
        <legend>商品列表</legend>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th style="width: 30px;"><input type="checkbox" lay-filter="allselector" lay-skin="primary"></th>
                    <th>编号</th>
                    <th width="30%">商品名称</th>
                    <th>价格</th>
                    <th>上架</th>
                    <th>库存</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="content">
                <volist id="vo" name="data">
                    <tr>
                        <td style="width: 30px;"><input type="checkbox" lay-skin="primary"></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.goodname}</td>
                        <td>{$vo.goodprice}</td>
                        <td><if condition="$vo['status'] eq 1 "><i class="fa fa-check"></i><else /> <i class="fa fa-times"></i></if></td>
                        <td>{$vo.num}</td>
                        <td>
                            <button class="layui-btn layui-btn-small" deal="edit" aa="{$vo.id}"><i class="layui-icon"></i></button>
                            <button class="layui-btn layui-btn-small" deal="upload-model" aa="{$vo.id}"><i class="layui-icon"></i> 上传模型</button>
                            <button class="layui-btn layui-btn-small" deal="upload-size" aa="{$vo.id}"><i class="layui-icon"></i>商品规格上传</button>
                            <button class="layui-btn layui-btn-small" deal="upload-img" aa="{$vo.id}"><i class="layui-icon"></i> 多图上传</button>
                            <button class="layui-btn layui-btn-small" deal="del" aa="{$vo.id}"><i class="layui-icon"></i></button>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </fieldset>
    <div class="admin-table-page">
        <div id="paged" class="page">
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/layui/layui.js"></script>
<script src="__PUBLIC__/admin/layui/lay/lib/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/layer.js"></script>
<script type="text/javascript">
    var public ="__PUBLIC__/admin/";
    layui.config({
        base: public+'js/'
    });

    layui.use(['form'], function() {

    });
    $('button').click(
        function () {
            var deal=$(this).attr('deal');
            switch (deal){
                case 'edit':
                    var id=$(this).attr('aa');
                    layer.open({
                        type: 2,
                        area: ['100%', '100%'],
                        shadeClose: true, //点击遮罩关闭
                        content:'__MODULE__/Shop/editGood?id='+id
                    });
                    break;
                case 'upload-model':
                    var id=$(this).attr('aa');
                    layer.open({
                        type: 2,
                        area: ['100%', '100%'],
                        shadeClose: true, //点击遮罩关闭
                        content:'__MODULE__/Shop/addModelImg?id='+id
                    });
                    break;
                case 'upload-img':
                    var id=$(this).attr('aa');
                    layer.open({
                        type: 2,
                        area: ['100%', '100%'],
                        shadeClose: true, //点击遮罩关闭
                        content:'__MODULE__/Shop/addImg?id='+id
                    });
                    break;
                case 'upload-size':
                    var id=$(this).attr('aa');
                    layer.open({
                        type: 2,
                        area: ['100%', '100%'],
                        shadeClose: true, //点击遮罩关闭
                        content:'__MODULE__/Shop/addSize?id='+id
                    });
                    break;
                case 'del':
                    var id=$(this).attr('aa');
                    layer.confirm('你确定要删除吗？', {
                        btn: ['确定', '取消'] //可以无限个按钮
                        ,btn3: function(index, layero){
                            //按钮【按钮三】的回调
                        }
                    }, function(index, layero){
                        //按钮【按钮一】的回调
                        $.ajax({
                            url:"__MODULE__/Shop/deleteGood",
                            type:'post',
                            data:{'id':id},
                            async:true,
                            success:function (data) {
                                if(data==true){
                                    layer.msg('删除成功');
                                    location.reload();
                                }else if(data==false){
                                    layer.msg('删除失败');
                                }
                            }
                        });
                    });
                    break;

            }
        }
    );
    $('a').click(
        function () {
            var deal=$(this).attr('deal');
            switch (deal){
                case 'add':
                    layer.open({
                        type: 2,
                        area: ['100%', '100%'],
                        shadeClose: true, //点击遮罩关闭
                        content:'__MODULE__/Rule/add_admin_page'
                    });
                    break;

            }
        }
    );
</script>
<include file="layout:footer"/>